<div>
    <h4 align="center">System Usage</h4><br>

    <div>
        <h5>System Started On: {{stats.systemStartDate}}</h5><br>
        <h5>System Last Used On: {{stats.systemLastUsed}}</h5><br>
        <h5>Total System Runs: {{stats.totalRuns}}</h5><br>
        <h5>Logical Comparisons Requests: {{stats.logicalComparisonRequested}}</h5><br>
        <h5>Renaming Comparisons Requests: {{stats.renamingComparisonRequested}}</h5><br>
        <h5>Refactoring Comparisons Requests: {{stats.refactoringComparisonRequested}}</h5><br>
        <h5>Weighted Comparison Requests: {{stats.weightedComparisonRequested}}</h5><br>
        <h5>Total Files Compared: {{stats.totalFilesCompared}}</h5><br>
        <h5>Maximum Load of One Comparison: {{stats.maxSystemLoad}}</h5><br>
        <h5>System Failures: {{stats.systemFailures}}</h5><br>
    </div>
</div>


