

<div>
	Welcome User<br>
	<br>
</div>

<div ng-controller="UploadFileController">
	<form class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-2" for="uploadfile">Upload
				Filelist 1:</label>
			<div class="col-sm-5">
				<input class="form-control" type="file" file-model="uploadedFile1"
					placeholder="Upload File" multiple>
			</div>
			<br> <br> <label class="control-label col-sm-2"
				for="uploadfile">Upload Filelist 2:</label>
			<div class="col-sm-5">
				<input class="form-control" type="file" file-model="uploadedFile2"
					placeholder="Upload File" multiple>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default"
					ng-click="uploadFile(uploadedFile1,uploadedFile2)">Upload</button>
			</div>
		</div>
		<span class="progress" ng-show="progress >= 0">
			<div style="width: {{progress}}%" ng-bind="progress + '%'"></div>
		</span>
		<div class="col-sm-offset-2">
			<p ng-bind="BetaUploadResult"></p>
		</div>
		<div>
			<table class="table table-striped">
				<thead>
				<tr>
						<td>S No.</td>
						<td>File 1</td>
					

						<td>File 2</td>
					

						<td>Match Percentage</td>
					
						<td>Match Remarks</td>
					</tr>
				</thead>
				<tbody ng-repeat="rep in reports">
					
					<tr>
						<td>{{$index}}</td>
						<td>{{rep.sourceFile}}</td>
						<td>{{rep.targetFile}}</td>
						<td>{{rep.matchPercentage}}</td>
						<td>{{rep.matchRemarks}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
	<hr />
</div>


<br>
<div ng-controller="getFilesController">
	<div class="col-sm-offset-2">
		<button type="button" class="btn btn-primary btn-block"
			ng-click="doGetFiles()">Get Files</button>
	</div>
	<hr />
	<div class="col-sm-offset-2" ng-model="lstFiles">
		<ul>
			<li ng-repeat="file in lstFiles"><a href='{{file}}'>{{file}}</a></li>
		</ul>
	</div>
</div>