<div>
	<nav class="navbar navbar-light bg-dark justify-content-between">
		<a class="navbar-brand text-white"> PlagSafe&#8482;</a>
		<form class="form-inline" action="/">
			<button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
		</form>
	</nav>

</div>

<div class="container">
	<br>
	<h4 align="center">Welcome {{userName}}</h4>
	<br>
	<div id="parentAccordian">
		<div class="card list-group">
		
		
			<!-- Upload Files and Results section goes here-->
			
			<div class="card-header text-white bg-dark">
				<h4 class="card-title">
					<a data-toggle="collapse" data-target="#collapse1">Upload Files</a>
				</h4>
			</div>
			<div id="collapse1" href="javascript:;"
				class="card-body collapse show" data-parent="#parentAccordian">
				<div class="card-text">
					<div ng-controller="UploadFileController">

						<form class="form-horizontal">
							<div id="uploadParentAccordian">
							
								<!-- Upload twin submission logic goes here-->
								
								<div class="card list-group">
									<div class="card-header text-white bg-secondary">
										<h4 class="card-title">
											<a data-toggle="collapse" data-target="#uploadCollapse1">Upload
												2 Submissions</a>
										</h4>
									</div>
									<div id="uploadCollapse1" href="javascript:;"
										class="card-body collapse"
										data-parent="#uploadParentAccordian">
										<div class="form-group">
											<label class="control-label col-sm-*" for="uploadfile1">
												Submission 1:</label>
											<div class="col-sm-10">
												<input id="f1" class="form-control" type="file"
													file-model="uploadedFile1" placeholder="Upload File"
													accept=".py" webKitDirectory multiple>
											</div>
											<br> <label class="control-label col-sm-*"
												for="uploadfile2">Submission 2:</label>
											<div class="col-sm-10">
												<input id="f2" class="form-control" type="file"
													file-model="uploadedFile2" placeholder="Upload File"
													accept=".py" webKitDirectory multiple>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-*" for="radioModel">Choose
												Strategy</label>
											<div class="col-sm-10">
												<input class="btn" type="radio" ng-model="strategy"
													value="LOGICAL"> Logical <input class="btn"
													type="radio" ng-model="strategy" value="RENAMING">
												Renaming <input class="btn" type="radio" ng-model="strategy"
													value="REFACTORING"> Refactoring <input class="btn"
													type="radio" ng-model="strategy" value="ALL"> All <input
													class="btn" type="radio" ng-model="strategy"
													value="COMBINED"> Use Dynamic Combination
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-2 col-sm-10">
												<button id="twinUploadBtn" type="submit"
													class="btn btn-secondary"
													ng-click="uploadFile(uploadedFile1,uploadedFile2,strategy)"
													ng-disabled="disableTwinUpload">Upload & Compare</button>
											</div>
										</div>
										<div class="progress" style="width: 100%;"
											ng-show="twinUploadProgress >= 0 && showTwinUploadProgress">
											<div class="progress-bar bg-success progress-bar-striped"
												role="progressbar" style="width: {{twinUploadProgress"
												aria-valuemin="0" aria-valuemax="100">{{twinUploadProgress}}%</div>
										</div>
										<br>
										<br>
										<br>
									</div>
								</div>
								
								<!-- Upload class submission logic goes here-->
								
								<div class="card list-group">
									<div class="card-header text-white bg-secondary">
										<h4 class="card-title">
											<a data-toggle="collapse" data-target="#uploadCollapse2">Upload
												Class Submission</a>
										</h4>
									</div>
									<div id="uploadCollapse2" href="javascript:;"
										class="card-body collapse show"
										data-parent="#uploadParentAccordian">
										<div class="form-group">
											<label class="control-label col-sm-*" for="classSubmission">
												Class Submission:</label>
											<div class="col-sm-10">

												<input id="dir1" class="form-control" type="file"
													file-model="classSubmission" placeholder="Upload File"
													accept=".py" webKitDirectory multiple>
											</div>
										</div>


										<div class="form-group">
											<label class="control-label col-sm-*" for="radioModel">Choose
												Strategy</label>
											<div class="col-sm-10">
												<input class="btn" type="radio" ng-model="strategy"
													value="LOGICAL"> Logical <input class="btn"
													type="radio" ng-model="strategy" value="RENAMING">
												Renaming <input class="btn" type="radio" ng-model="strategy"
													value="REFACTORING"> Refactoring <input class="btn"
													type="radio" ng-model="strategy" value="ALL"> All <input
													class="btn" type="radio" ng-model="strategy"
													value="COMBINED"> Use Dynamic Combination
											</div>
										</div>

										<div class="form-group">
											<div class="col-sm-offset-2 col-sm-10">
												<button type="submit" class="btn btn-secondary"
													ng-click="uploadClassSubmission(classSubmission,strategy)"
													ng-disabled="disableUpload">Upload & Compare</button>
											</div>
										</div>
										<div class="progress" style="width: 100%;"
											ng-show="classUploadProgress >= 0 && showClassUploadProgress">
											<div class="progress-bar bg-success progress-bar-striped"
												role="progressbar" style="width: {{classUploadProgress"
												aria-valuemin="0" aria-valuemax="100">{{classUploadProgress}}%</div>
										</div>
									</div>
									<br>
									<br>
									<br>
								</div>
							</div>
							
							
							<!-- Results display logic goes here-->
							<div class="card ">
								<div class="card-header text-white bg-secondary">
									<h4 class="card-title">
										<a data-toggle="collapse" data-target="#resultCollapse">Results</a>
									</h4>
								</div>
								<div id="resultCollapse" href="javascript:;"
									class="collapse show">
									<div class="card-text">
										<div class="table-responsive">
											<table ng-show="(reports).length"
												class="table table-striped table-hover">
												<thead class="thead thead-dark">
													<tr>
														<th scope="col">#</th>
														<th scope="col">File 1</th>
														<th scope="col">File 2</th>
														<th scope="col">Match Percentage</th>
														<th scope="col">Match Remarks</th>

													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="rep in reports track by $index">
														<th scope="row">{{$index}}</th>
														<td>{{rep.sourceFile}}</td>
														<td>{{rep.targetFile}}</td>
														<td>{{rep.matchPercentage}}</td>
														<td>{{rep.matchRemark}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</form>
						<hr />
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- Download section logic goes here-->
		
		<div class="card list-group">
			<div class="card-header text-white bg-dark">
				<h4 class="card-title">
					<a data-toggle="collapse" data-target="#collapse">Downloads</a>
				</h4>
			</div>
			<div id="collapse" class="card-body collapse"
				data-parent="#parentAccordian">
				<div class="card-text">

					<div ng-controller="getFilesController">

						<div>
							<button type="button" class="btn btn-secondary btn-block"
								ng-click="doGetFiles()">Get Files</button>
						</div>
						<hr />
						<div class="col-sm-offset-2" ng-model="lstFiles">
							<ul>
								<li ng-repeat="file in lstFiles track by $index"><a
									href='{{file}}'>{{file}}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- System statistics logic goes here-->
		
		
		<div class="card list-group">
			<div class="card-header text-white bg-dark">
				<h4 class="card-title">
					<a data-toggle="collapse" data-target="#collapseStat">System
						Statistics</a>
				</h4>
			</div>
			<div id="collapseStat" class="card-body collapse"
				data-parent="#parentAccordian">
				<div class="card-text">

					<div>
						<div>
							<h4 align="center">System Usage</h4>
						</div>

						<table class="table table-striped table-hover">
							<thead class="thead thead-dark">
								<tr>
									<th scope="col">Property</th>
									<th scope="col">Info</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td scope="row">System Started On</td>
									<td>{{stats.systemStartDate}}</td>
								</tr>
								<tr>
									<td scope="row">System Last Used On:</td>
									<td>{{stats.systemLastUsed}}</td>
								</tr>
								<tr>
									<td scope="row">Total System Runs</td>
									<td>{{stats.totalRuns}}</td>
								</tr>
								<tr>
									<td scope="row">System Last Used On</td>
									<td>{{stats.systemLastUsed}}</td>
								</tr>
								<tr>
									<td scope="row">Logical Comparisons Requests</td>
									<td>{{stats.logicalComparisonRequested}}</td>
								</tr>
								<tr>
									<td scope="row">Renaming Comparisons Requests</td>
									<td>{{stats.renamingComparisonRequested}}</td>
								</tr>
								<tr>
									<td scope="row">Total Files Compared</td>
									<td>{{stats.totalFilesCompared}}</td>
								</tr>
								<tr>
									<td scope="row">Maximum Load of One Comparison</td>
									<td>{{stats.maxSystemLoad}}</td>
								</tr>
								<tr>
									<td scope="row">System Failures:</td>
									<td>{{stats.systemFailures}}</td>
								</tr>
							</tbody>
						</table>
						<div ng-controller="LoginController">
							<button type="submit" class="btn btn-secondary btn-block"
								ng-click="get_system_stats()">Usage Stats</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>